.movie-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  background-color: #fff;
  width: 100%;
  padding: 40px;
  margin: 10px 0;
}

.movie-card__poster {
  width: 150px;
  border-radius: 2.33px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
}

.movie-card__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.movie-card__header {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 16px;
}

.movie-card__title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #000;
}

.movie-card__rating {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #111827;
  font-size: 16px;
}

.movie-card__rating-icon {
  font-size: 14px;
  color: #fec654;
}

.movie-card__info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 12px;
  color: #111827;
}

.movie-card__info__meta {
  display: flex;
  align-items: center;
  gap: 16px;
}

.movie-card__watchlist {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  font-weight: 500;
  color: #0d0d0d;
  cursor: pointer;
  font-weight: 800;
}

.movie-card__watchlist-icon {
  background: #0d0d0d;
  color: #fff;
  border-radius: 50%;
  padding: 4px;
  font-size: 10px;
}

.movie-card__description {
  color: #6b7280; /* gray-500 */
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .movie-card {
    flex-direction: column;
    text-align: center;
  }

  .movie-card__poster {
    width: 250px;
    height: auto;
  }

  .movie-card__header {
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .movie-card__info {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
}
